<script setup>
import { ref } from 'vue'
import feathers from '@feathersjs/client'
import auth from '@feathersjs/authentication-client'
import rest from '@feathersjs/rest-client'

const app = feathers()

// setup HTTP transport with Feathers backend
const restClient = rest()
app.configure(restClient.fetch(window.fetch.bind(window)))

// configure Feathers authentication
app.configure(auth())

const email = ref()
const password = ref()

const message = ref('NOT AUTHENTICATED')

const signin = async () => {
   try {
      const { user } = await app.authenticate({
         strategy: 'local',
         email: email.value,
         password: password.value
      })
      console.log('user', user)
      message.value = "Authenticated user: " + JSON.stringify(user)
   } catch(err) {
      message.value = "ERROR"
   }
}

const signup = async () => {
   const user = await app.service('/api/users').create({
      email: email.value,
      password: password.value
   })
   console.log('created user', user)
}

const logout = async () => {
   await app.logout()
   message.value = 'NOT AUTHENTICATED'
}

const userList = ref([])
const fetchUsers = async () => {
   try {
      userList.value = await app.service('/api/users').find({})
   } catch(err) {
      userList.value = []
   }
}
</script>

<template>
   <div>{{ message }}</div>
   <div>
      <input v-model="email"> email
   </div>
   <div>
      <input type="password" v-model="password"> password
   </div>
   <div>
      <button @click="signup">Sign-up</button>
      <button @click="signin">Sign-in</button>
      <button @click="logout">Logout</button>
      <button @click="fetchUsers">Fetch users</button>
   </div>

   <ul>
      <template v-for="user in userList">
         <li>{{ user }}</li>
      </template>
   </ul>
</template>
